@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', Courier, monospace;
}
body {
    background-color: #ccc;
}
header {
    padding: 10px 30px;
    background-color: #2b7fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
footer {
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    background-color: #2b7fff;
    padding: 15px;
}
main {
    flex: 1;
}
.mainText {
    padding: 20px 30px;
}
.mainText h3, .mainText h2 {
    padding: 10px 0;
}
h1, h2 {
    padding: 10px 30px;
}
a:not(.andy){
    text-decoration: none;
    background-color: #ffb900;
    padding: 10px;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    color: #262626;
}
a:not(.andy):hover {
    background-color: #fee685;
}
.bilde{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
img {
    width: 400px;
}
.sykkel{
    width: 250px;
}
.main {
    display: flex;
}
.main img {
    padding: 30px;
}
.andy {
    text-decoration: none;
}